bootstrap.servers=trend-pulse.servicebus.windows.net:9093
group.id=$Default
request.timeout.ms=60000
security.protocol=SASL_SSL
sasl.mechanism=PLAIN
retry.backoff.ms=1000
max.poll.records=500
partition.discovery.interval.ms=30000
auto.offset.reset=earliest
sasl.jaas.config=org.apache.kafka.common.security.plain.PlainLoginModule required username="$ConnectionString" password="Endpoint=sb://trend-pulse.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=Uu2LypcdeutDR85aslifd9zWAd+gWuW5l+AEhCW/bdk=";
